* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

button {
    cursor: pointer;
    // background: transparent;
    // border: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #505050;
    // background-color: #18191a;
}

.background-image {
    background-image: url('../src/assets/back.avif');
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}